body{
    max-width: 500px;
}
.container{
    border: 1px solid rgb(252, 248, 248);
    padding: 20px;
    background-color:#51415e ;
    color: white;
    width: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#name{
    margin-top: 5px;
    margin-left: 00px;
    background-color: #51415e;
    border: 1px solid skyblue;
}
#email{
    margin-left: 30px;
    margin-top: 5px;
    border: 1px solid skyblue;
    background-color: #51415e;
}
.label{
    margin-top: 10px;
}
#label02{
    margin-left: 160px;
}
#babel01{
    margin-left: 10px;
}
#label03{
    padding-top: 10px;
}
textarea{
    height: 70px;
    width: 370px;
    border: 1px solid skyblue;
    background-color: #51415e;
}
button{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: antiquewhite;
}
