body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: blue;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    top: 0;
}

#subtitle {
    margin-top: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 130px; /* Adjust based on header height */
}

main img {
    margin-right: 20px;
    border: 2px solid blue;
    border-radius: 50%;
}

footer {
    margin-top: 20px;
    background-color: lavenderblush;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}