*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ac006e;
    margin: 10px;
    height: 30vh;
    width: 100vw;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    background-color: #db317f;
    margin: 10px;
    padding: 50px;
    width: 30vw;
    height: 20vh;
}
.content{
    background-color: #de5d9e;
    margin: 10px;
    padding: 50px;
    width: 50vw;
    height: 30vh;
}
footer{
    background-color: #ed7bb8;
    margin: 10px;
    height: 15vh;
    width: 100vw;
}
@media screen and (max-width:1200px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .box{
        width: 45vw;
        height: 30vh;
    }
    .content{
        width: 90vw;
        height: 30vh;
    }
}
@media screen and (max-width:768) {
    .container{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box{
        width: 90vw;
        height: 20vh;
    }
    .content{
        width: 90vw;
        height: 20vh;
    }
}